<html>
    <head>
        <title>Tongchun's go gin</title>
    </head>
    <body>
        <form action="http://localhost:8080/form_post" method="POST">
            message: <input type="text" name="message">
            nick: <input type="text" name="nick">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>