<html>
    <head>
        <title>multipartfiles upload/uribinding</title>
    </head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var formObj = $("form[role='form']")

            $("#bindingBtn").on("click", function(){
                alert($(this).val());
                console.log(formObj.attr("action"));

                formObj.attr("action", "http://localhost:8080/multiuploadbind");
                formObj.submit();
            });
        });
    </script>
    <body>
        <h2>page: {{ .page }}</h2>
        <!-- 
            확인할 사항은 file을 넘기는 input의 name을 file이라고 모두 동일하게 합니다.
            그러면 3개의 file 데이터는 슬라이스 타입으로 전달되게 됩니다. 
        -->
        <form id="uploadform" role="form" action="http://localhost:8080/multiupload" method="POST" enctype="multipart/form-data">
            first name: <input type="text" name="first_name"><br>
            family name: <input type="text" name="family_name"><br>
            upload file 1: <input type="file" name="file"><br>
            upload file 2: <input type="file" name="file"><br>
            upload file 3: <input type="file" name="file"><br>
            <input type="submit" value="Submit"><input type="button" id="bindingBtn" value="binding submit"/>
        </form>
    </body>
</html>